<ion-view title="Configure" id="district">
   <div class="bar bar-loading bar-assertive status" ng-if="status.type === 'error'">
      <div class="status-msg">
         {{status.msg}}
      </div>
   </div>
   <div class="disabled-overlay" ng-if="error"></div>
   <ion-content>
      <form ng-submit="submit()" name="forms.form1" novalidate>
         <ion-list>


            <ion-item class="item item-input item-select">
               <span class="input-label">District</span>
					<select ng-model="form.list" name="listField" ng-disabled="error"
							  ng-options="district.name for district in districts">
						<option value="" disabled style="display:none">
							Select
						</option>
					</select>
            </ion-item>

            <ion-item class="item-divider">
					<center>Account Type</center>
				</ion-item>

            <ion-radio ng-repeat="item in accountTypes" ng-model="form.type" name="accountType" ng-value="item.value" ng-required="!form.type"
                       ng-class="{ 'has-error' : $last && forms.form1.accountType.$invalid && form.submitted && form.type === '' }" ng-disabled="error">

               {{item.text}}
            </ion-radio>
            <!-- <ion-radio ng-model="form.type" ng-value="student">Parent</ion-radio> -->
            <!-- <label class="item item-radio">
               <input type="radio" name="accountType" ng-model="form.type">
               <div class="item-content">
                  Student
               </div>
               <i class="radio-icon ion-checkmark"></i>
            </label>
            <label class="item item-radio">
               <input type="radio" name="accountType" ng-model="form.type">
               <div class="item-content">
                  Parent
               </div>
               <i class="radio-icon ion-checkmark"></i>
            </label> -->

            <div ng-messages="forms.form1.accountType.$error" ng-if='form.type === "" && form.submitted'>
					<div class="form-error" ng-message="required">Please select your account type!</div>
				</div>

				<!-- <ion-item class="item-divider">
					<center>
						-OR-
					</center>
				</ion-item>


				<ion-item class="item item-input" ng-class="{ 'has-error' : forms.form1.zipField.$invalid && form.submitted && form.list === '' }">
               <span class="input-label">Enter Zip Code</span>
					<input type="text" ng-model="form.zip" name="zipField" zipcode>
            </ion-item>
				<div ng-messages="forms.form1.zipField.$error" ng-if='form.submitted && form.list === ""'>
					<div class="form-error" ng-message="zipcode">Please enter a valid zip code!</div>
				</div>-->

         </ion-list>

			<div class="padding">
         	<input class="button button-block button-positive" type="submit" value="Submit" ng-disabled="error" />
			</div>

      </form>
   </ion-content>
</ion-view>
