.item.has-error
   border-bottom: 2px solid red

.item.valid
   border-bottom: 2px solid green

.form-errors
   margin: 5px 0

.form-error
   padding: 2px 0 2px 16px;
   color: red;

.loading
	i
		font-size: 36px;
		// -webkit-animation: rotating 1.5s linear infinite;
		// -moz-animation: rotating 1.5s linear infinite;
		// -ms-animation: rotating 1.5s linear infinite;
		// -o-animation: rotating 1.5s linear infinite;
		// animation: rotating 1.5s linear infinite;

	p
		margin-top: 5px;
		margin-bottom: 0px;

@-moz-keyframes spin {
	from { -moz-transform: rotate(0deg); }
	to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
	from { -webkit-transform: rotate(0deg); }
	to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
	from {transform:rotate(0deg);}
	to {transform:rotate(360deg);}
}


#main
   ion-content
      .scroll
         height: 100%

         iframe
            width: 100%
            height: 100%
